<div class="banner" style="height: 70vh; position: relative; background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('https://dailygeekshow.com/wp-content/uploads/2022/05/une-terre-atmosphere-1024x576.jpg'); background-size: cover; background-position: center;">
  <div class="container">
    <h1 style="color: white;">Actuality </h1>
    <p style="color: white;"> Share and Connect</p>
  </div>
<%= image_tag("news_icon.svg", style: "position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 150px;") %></div>
    <%= link_to "See posts", posts_path, class: "btn btn-dark",style: "position: absolute; top: 65%; left: 50%; transform: translate(-50%, -50%);" %>
<div class="container py-3">
  <h2 class="text-center" style="color: black;">HOT ARTICLE 🔥</h2>
  <div class="horizontal-scroll">
    <% @posts.each do |post| %>
      <div class="card">
        <%= render partial: "post", locals: { post: post } %>
      </div>
    <% end %>
  </div>
</div>
